*{
    margin:5px;
}
p{
    text-align: justify;
}
body{
    margin: 0;
    background-color:rgb(245, 247, 235);
    background-size: 100% 100%;
}
.tituloslider1{
    color:#FBEFFD;
    text-align: center;
    font-size: 25px;
    padding: 35px 0 15px 0;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 3px;
}

.tituloslider2{
    color: #FBFAE5;
    text-align: center;
    font-size: 45px;
    padding: 35px 0 15px 0;
    text-shadow: -3px -3px 5px  #FF7729 ;
    font-family:'Bowlby One SC', cursive; 
    letter-spacing: 4px;
}


.ptitulo{
    font-size: 30px;
    letter-spacing: 4px;
    margin: 130px  ;
    text-align: center;
    color: #1B5349;
    text-shadow: -3px -3px 5px  gray ;
    font-family:'Bowlby One SC', cursive;

}
.content_two{
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
}
.container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    margin-top: 100px;
}
/* .llamar la clase,  dejar espacio, agregar subclases  */
.container .card{
    width: 400px;
    height: 600px;
    overflow: hidden;
    margin: 0 10px;
    text-align: center;
    transition: all 0.25s;
    border-radius: 20px;
}

.container .card img{
    width: 400px;
    height: 350px;
    border-radius: 10p
}

.container .card p,
h4 {
    width: 80%;
    margin: 20px;
}
.container .card:hover{
    transform: rotateZ(-10deg); 
    transition: 3s;
}
#cardtwo:hover{
    transform: rotateZ(20deg); 
    transition: 3s;
}

.container .card img{
    width: 400px;
    height: 350px;
}
.container .card h4{
    font-weight: 600;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}



