
.contenidoiconoform{
    display: flex;
    justify-content: center;
    background-color: #FBFAE5;
    box-sizing: content-box;
    width: 100%;
    margin:21px; 
    font-size: 30px;
    font-family: roboto;
 }
 .infofooter{
display: inline-block;
color: #1B5349;
font-size: 16px;

 }

 .ajusteicono{
     display: inline-block;
     text-align: center;
   

 }
.imagenicono{
height: 17%;
width: 10%;

}
 .form{
     display: inline-block;
  
 }

.textofooter{
    display: inline-flex;
    width: 100%;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: -97%;
  
}

form{
    margin-left: 200px;
    width: 250px;
    height: 305px;
    background: rgba(0, 0, 0, 4);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: open sans;

}

input, textarea{
    width: 95%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10px;
    border: none;
    font-family: open sans;
    border-radius: 5px;
}

textarea{
    min-height: 100px;
    max-height: 2000px;
    max-width: 100%;
}
#boton{
    background: rgb(168, 216, 207);
    color: black;
    padding: 10px;
}
#boton:hover{
    cursor: pointer;
    background-color:white;
    color:#1B5349;
}
h2{
    text-align: center;
    color: #1B5349;
    font-size: medium;
    margin-top: -2px;
}




